<div class="input" >
    <label class="input__container">
        {{{InputElement}}}
        <div class="input__label">{{label}}</div>
        {{#if errorText}}
            <div class="input__error">{{errorText}}</div>
        {{/if}}
    </label>
</div>
