<form class="form">
  {{#if title}}
    <h2 class="form__title">{{title}}</h2>
  {{/if}}
  
  {{#each inputs}}
    {{{this}}}
  {{/each}}

  <div class="form__buttons">
    {{#each buttons}}
      {{{this}}}
    {{/each}}
  </div>
</form>
