<nav>
  <ul>
    <li><a href="#" page="login">Авторизация</a></li>
    <li><a href="#" page="registration">Регистрация</a></li>
    <li><a href="#" page="chats">Список чатов и лента переписки</a></li>
    <li><a href="#" page="settings">Настройки пользователя</a></li>
    <li><a href="#" page="change-data">Настройки пользователя / Изменить данные</a></li>
    <li><a href="#" page="change-password">Настройки пользователя / Изменить пароль</a></li>
    <li><a href="#" page="404">Страница 404</a></li>
    <li><a href="#" page="500">Страница 5**</a></li>
  </ul>
</nav>
