.chats-card {
  display: flex;
  gap: 10px;
  padding: 10px;
  width: 100%;
  text-align: left;

  &:hover {
    background: var(--second-color);
  }

  &__title {
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    margin: 0 0 4px;
  }

  &__last-message {
    color: var(--text-secondary-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin: 0;
  }

  &__info {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__date {
    margin: 0;
    color: var(--text-secondary-color);
    text-align: right;
    font-size: 9px;
    font-weight: 500;
    line-height: 13px;
  }

  &__unread {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 11px;
    font-weight: 500;
    margin: 14px 0 0;
  }
}