.chats {
  display: grid;
  grid-template-columns: 1fr 3fr;
  max-height: 100dvh;
  overflow: hidden;
}

.chats__sidebar {
  background: var(--third-color);
  border-right: 1px solid var(--border-color);
}

.chats__sidebar-header {
  display: flex;
  flex-direction: column;
  padding: 14px 10px;
}

.chats__profile-link {
  color: var(--text-secondary-color);
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: 0.3s;

  svg {
    margin-left: 8px;
  }

  &:hover {
    color: var(--text-color);
  }
}

.chats__search {
  margin-top: 20px;
  border-radius: 5px;
  background: #EFEFEF;
  border: unset;
  height: 32px;
  padding: 10px;
  outline-color: var(--text-secondary-color);

  &::placeholder {
    color: var(--text-secondary-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
  }
}

.chats__cards {
  list-style: none;
  padding: 0;
  margin: 0;
  height: calc(100dvh - 92px);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.chats__cards-item {
  padding: 2px 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 100%;
    border-top: 1px solid #EAEAEA;
    pointer-events: none;
  }
}

.chats-card {
  display: flex;
  gap: 10px;
  padding: 10px;
  width: 100%;
  text-align: left;

  &:hover {
    background: var(--second-color);
  }

  &__title {
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    margin: 0 0 4px;
  }

  &__last-message {
    color: var(--text-secondary-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin: 0;
  }

  &__info {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__date {
    margin: 0;
    color: var(--text-secondary-color);
    text-align: right;
    font-size: 9px;
    font-weight: 500;
    line-height: 13px;
  }

  &__unread {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 11px;
    font-weight: 500;
    margin: 14px 0 0;
  }
}

.chats__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}

.chats__header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
}

.chats__header-avatar {
}

.chats__title {
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  margin: 0;
}

.chats__settings {
  margin-left: auto;
  padding: 0 10px;
}

.chats__messages {
  list-style: none;
  padding: 10px 0;
  margin: 0;
  // flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  height: calc(100dvh - 54px - 54px);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.chats__message {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  padding: 10px;
  background: #F8F8F8;
  max-width: 50%;
  width: fit-content;
  border-radius: 20px;
  position: relative;
  min-width: 11;

  &--system {
    color: var(--text-secondary-color);
    text-align: center;
    background: unset;
    margin: 0 auto;
  }

  &--user {
    align-self: flex-end;
    background: var(--second-color);
  } 

  &--media {
    background: unset;
    padding: 0;

    .chats__message-info {
      position: absolute;
      bottom: 10px;
      right: 10px;
      top: unset;
    }
  }
}

.chats__message-content {
  display: inline-block;

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.chats__message-info {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  position: relative;
  top: .375rem;
  bottom: auto;
  float: right;
  line-height: 1.35;
  height: calc(var(--message-meta-height, 1rem));
  margin-left: .4375rem;
}

.chats__message-date {
  color: var(--text-secondary-color);
  text-align: right;
  font-size: 9px;
  font-weight: 500;
  line-height: 9px;
  margin: 0;
}

.chats__message-status {
  margin: 0 0 0 14px;
}

.chats__footer {
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  border-top: 1px solid var(--border-color);
}

.chats__add-file-button {
}

.chats__message-input {
  flex-grow: 1;
  border-radius: 30px;
  background: #EFEFEF;
  border: unset;
  height: 32px;
  padding: 10px;
  outline-color: var(--text-secondary-color);

  &::placeholder {
    color: var(--text-secondary-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
  }
}

.chats__send-button {
}